{% extends "network/layout.html" %}

{% block body %}

<div id="app" />
        <script type="text/babel">           

            const context = {
                isLoggedIn : () => {
                    if('{{user.is_authenticated}}' === 'True') {
                        return true
                    } else {return false}
                },
                username : '{{user.username}}'
            };

            function range(size) {
                return [...Array(size).keys()].map(i => i + 1);
            };

            class LikeButton extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        liked_by_user: this.props.likedByUser,
                        number_of_likes: this.props.numberOfLikes
                    }
                }

                render() {
                    if (this.state.liked_by_user) {
                        return this.renderLikedButton()
                    } else {
                        return this.renderUnlikedButton()
                    }
                }

                renderLikedButton() {
                    return(
                        <div>
                            <img className="like-button" src={'../../static/network/liked.png'} onClick={this.liking} />
                            <span className="like-counter">{this.state.number_of_likes}</span>
                        </div>
                    )
                }

                renderUnlikedButton() {
                    return(
                        <div>
                            <img className="like-button" src={'../../static/network/unliked.png'} onClick={this.liking} />
                            <span className="like-counter">{this.state.number_of_likes}</span>
                        </div>
                    )
                }

                liking = (event) => {
                    this.setState({
                        liked_by_user: !this.state.liked_by_user,
                        number_of_likes: this.state.number_of_likes -2 * this.state.liked_by_user + 1
                    });
                    fetch(`/post/${this.props.postID}`, {
                        method: "PUT",
                        body: JSON.stringify({
                            liked: !this.state.liked_by_user,
                        })
                    })
                    .catch(error => console.log('Error:', error));
                }

            };
            
            class Post extends React.Component {

                constructor(props) {
                    super(props);
                }

                render() {
                    return(
                        <div className="container" id="post-container">
                            <div className="row">
                                <div className="card align-self-center col-10">
                                    <div className="card-body">
                                        <h5 className="card-title">{`@${this.props.username}`}</h5>
                                        <p className="card-text" id="post-content">{this.props.postContent}</p>
                                        <p className="card-text text-muted" id="post-timestamp">{this.props.timestamp}</p>
                                        <LikeButton postID = {this.props.postID} likedByUser = {this.props.likedByUser} numberOfLikes = {this.props.numberOfLikes} />
                                    </div>
                                </div>
                            </div>
                        </div>
                    )
                }

            }

            class Paginator extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        currentPage = 1,
                        numberOfPages = this.props.numberOfPages,
                        left = false,
                        rigth = true
                    }
                }
            }

            class PostBox extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        posts: [],
                        fetching: true,
                    }
                }

                componentDidMount() {
                    const api = `/posts/${this.props.postBox}`;
                    fetch(api)
                    .then(response => response.json())
                    .then(data => this.setState({
                        posts: data,
                        fetching: false,
                    }))
                    .catch(error => console.log('Error:', error));
                }

                render() {
                    while (this.state.fetching) {
                        return <div>Loading...</div>
                    }

                    const postsArray = this.state.posts.map(post => 
                        <Post postID = {post.id} username = {post.username} postContent = {post.post}
                              timestamp = {post.timestamp} likedByUser = {post.liked_by_user} 
                              numberOfLikes = {post.likes} key = {post.id} />
                    );

                    return(
                        <div>{postsArray}</div>
                    )
                }
            }

            class NewPost extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        post: ""
                    }
                }

                render() {
                    return(
                        <div className="container" id="new-post-container">
                            <div className="row">
                                <div className="card align-self-center col-10">
                                    <div className="card-body">
                                        <h5 className="card-title">New Post</h5>
                                        <form id="new-post">
                                            <textarea className="form-control" id="new-post-body" placeholder="Write your post here!"
                                                      onChange={this.updateNewPost} value={this.state.post}></textarea>
                                            <button className="btn btn-primary" id="new-post-button" onClick={this.posting}>Post</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    )
                }

                updateNewPost = (event) => {
                    this.setState({
                        post: event.target.value
                    });
                }

                posting = (event) => {
                    if (this.state.post === "") {
                        alert("New post must not be empty.")
                    } else if (this.state.post.length > 280) {
                        alert("New post maximum length is 280 characters.")
                    } else {
                        fetch('/posting', {
                            method: 'POST',
                            body: JSON.stringify({
                                post: this.state.post
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data['message']) {
                                this.props.displayAllPosts;
                            } else {
                                alert(data['error']);
                            }
                        })
                        .catch(error => console.log('Error:', error));
                    }
                }
            }

            class Profile extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        app_page: "All posts"
                    };
                }

            };

            class Navbar extends React.Component {

                constructor(props) {
                    super(props);
                }

                render() {
                    const isLoggedIn = context.isLoggedIn();
                    const username = context.username;
                    return (
                        <nav className="navbar navbar-expand-lg navbar-light bg-light">
                            <a className="navbar-brand" onClick={this.props.displayAllPosts}>Network</a>
                        
                            <div>
                            <ul className="navbar-nav mr-auto">
                                {isLoggedIn
                                    ? <li className="nav-item">
                                        <a className="nav-link" onClick={this.props.displayProfile}><strong>{username}</strong></a>
                                    </li>
                                    : null
                                }
                                <li className="nav-item">
                                    <a className="nav-link" onClick={this.props.displayAllPosts}>All Posts</a>
                                </li>
                                {isLoggedIn
                                    ? <li className="nav-item">
                                        <a className="nav-link" onClick={this.props.displayFollowing}>Following</a>
                                    </li>
                                    : <li className="nav-item">
                                        <a className="nav-link" href="{% url 'login' %}">Log In</a>
                                    </li>
                                }
                                {isLoggedIn
                                    ? <li className="nav-item">
                                        <a className="nav-link" href="{% url 'logout' %}">Log Out</a>
                                    </li>
                                    : <li className="nav-item">
                                        <a className="nav-link" href="{% url 'register' %}">Register</a>
                                    </li>
                                }
                            </ul>
                            </div>
                        </nav>
                    );
                };
            };

            class App extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        app_page: "All posts",
                        isLoggedIn: context.isLoggedIn()
                    };

                    this.displayAllPosts = this.displayAllPosts.bind(this);
                    this.displayProfile = this.displayProfile.bind(this);
                    this.displayFollowing = this.displayFollowing.bind(this);


                }

                displayAllPosts() {
                    this.setState({
                        app_page: "All posts"
                    });
                };

                displayProfile() {
                    this.setState({
                        app_page: "Profile"
                    });
                };

                displayFollowing() {
                    this.setState({
                        app_page: "Following"
                    });
                };

                render() {
                    if (!this.state.isLoggedIn) {
                        return (
                            <div>
                                <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                                <h3 className="text-center">Login or register to start posting!</h3>
                                {/* <PostBox postBox = "allposts" /> */}
                            </div>
                        )
                    } else if (this.state.app_page === "All posts") {
                        return this.renderAllPosts();
                    } else if (this.state.app_page === "Profile") {
                        return this.renderProfile();
                    } else {
                        return this.renderFollowing();
                    }
                }

                renderAllPosts() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <NewPost displayAllPosts = {this.displayAllPosts} />
                            {/* <PostBox postBox = "allposts" /> */}                            
                        </div>
                    );
                }

                renderProfile() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <p id="profile">{context.username}'s Profile!</p>
                        </div>
                    );
                }

                renderFollowing() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <p id="following-posts">Following posts!</p>
                        </div>
                    );
                }
            };

            ReactDOM.render(<App />, document.querySelector("#app"));
        </script>
    </body>

{% endblock %}