{% extends "network/layout.html" %}

{% block body %}

<div id="app" />
        <script type="text/babel">           

            const context = {
                isLoggedIn : () => {
                    if('{{user.is_authenticated}}' === 'True') {
                        return true
                    } else {return false}
                },
                username : '{{user.username}}'
            };

            const LEFT_PAGE = 'LEFT';
            const RIGHT_PAGE = 'RIGHT';

            function range(size) {
                return [...Array(size).keys()].map(i => i + 1);
            };

            class LikeButton extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        liked_by_user: this.props.likedByUser,
                        number_of_likes: this.props.numberOfLikes
                    }
                }

                render() {
                    const isLoggedIn = context.isLoggedIn();
                    if (!isLoggedIn) {
                        return null
                    } else if (this.state.liked_by_user) {
                        return this.renderLikedButton()
                    } else {
                        return this.renderUnlikedButton()
                    };
                }

                renderLikedButton() {
                    return(
                        <div>
                            <img className="like-button" src={'../../static/network/liked.png'} onClick={this.handleClick} />
                            <span className="like-counter">{this.state.number_of_likes}</span>
                        </div>
                    )
                }

                renderUnlikedButton() {
                    return(
                        <div>
                            <img className="like-button" src={'../../static/network/unliked.png'} onClick={this.handleClick} />
                            <span className="like-counter">{this.state.number_of_likes}</span>
                        </div>
                    )
                }

                handleClick = (event) => {
                    this.setState({
                        liked_by_user: !this.state.liked_by_user,
                        number_of_likes: this.state.number_of_likes -2 * this.state.liked_by_user + 1
                    });
                    fetch(`/post/${this.props.postID}`, {
                        method: "PUT",
                        body: JSON.stringify({
                            liked: !this.state.liked_by_user,
                        })
                    })
                    .catch(error => console.log('Error:', error));
                }
            };
            
            class Post extends React.Component {

                constructor(props) {
                    super(props);
                }

                render() {
                    return(
                        <div className="container" id="post-container">
                            <div className="row">
                                <div className="card align-self-center col-10">
                                    <div className="card-body">
                                        <h5 className="card-title">{`@${this.props.username}`}</h5>
                                        <p className="card-text" id="post-content">{this.props.postContent}</p>
                                        <p className="card-text text-muted" id="post-timestamp">{this.props.timestamp}</p>
                                        <LikeButton postID = {this.props.postID} likedByUser = {this.props.likedByUser} numberOfLikes = {this.props.numberOfLikes} />
                                    </div>
                                </div>
                            </div>
                        </div>
                    )
                }
            }

            class Paginator extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        currentPage: 1,
                        numberOfPages: this.props.numberOfPages
                    }
                }

                fetchPageNumbers = () => {
                    const numberOfPages = this.state.numberOfPages;
                    const currentPage = this.state.currentPage;
                    var pages = [];

                    if (currentPage === 1) {
                        pages = [...range(numberOfPages), RIGHT_PAGE];
                    } else if (currentPage === numberOfPages) {
                        pages = [LEFT_PAGE, ...range(numberOfPages)];
                    } else {
                        pages = [LEFT_PAGE, ...range(numberOfPages), RIGHT_PAGE];
                    }

                    return pages
                }

                render() {
                    if (this.state.numberOfPages === 1) return null;

                    const currentPage = this.state.currentPage;
                    const pages = this.fetchPageNumbers();

                    return(
                        <nav aria-label="Posts Pagination">
                            <ul className="pagination justify-content-center">
                                {pages.map((page, index) => {

                                    if (page === LEFT_PAGE) return (
                                        <li key={index} className="page-item">
                                            <a className="page-link" href="#" aria-label="Previous" onClick={this.handleMoveLeft}>
                                                <span aria-hidden="true">&laquo;</span>
                                                <span className="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    );

                                    if (page === RIGHT_PAGE) return (
                                        <li key={index} className="page-item">
                                            <a className="page-link" href="#" aria-label="Next" onClick={this.handleMoveRight}>
                                                <span aria-hidden="true">&raquo;</span>
                                                <span className="sr-only">Next</span>
                                            </a>
                                        </li>
                                    );

                                    return (
                                        <li key={index} className={`page-item${ currentPage === page ? ' active' : ''}`}>
                                            <a className="page-link" href="#" onClick={this.handleClick(page)}>{page}</a>
                                        </li>
                                    );
                                })}
                            </ul>
                        </nav>
                    )
                }

                handleClick = page => event => {
                    event.preventDefault();
                    this.setState({
                        currentPage: page
                    });
                    this.props.onPageChanged(page);
                }

                handleMoveLeft = event => {
                    event.preventDefault();
                    this.setState({
                        currentPage: this.state.currentPage - 1
                    });
                    this.props.onPageChanged(this.state.currentPage - 1);
                }

                handleMoveRight = event => {
                    event.preventDefault();
                    this.setState({
                        currentPage: this.state.currentPage + 1
                    });
                    this.props.onPageChanged(this.state.currentPage + 1);
                }
            }

            class PostBox extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        response: [],
                        fetching: true,
                        currentPage: 1,
                    }

                    this.onPageChanged = this.onPageChanged.bind(this);
                }

                componentDidMount() {
                    const api = `/posts/${this.props.postBox}/${this.props.username}`;

                    fetch(api)
                    .then(response => response.json())
                    .then(data => this.setState({
                        response: data,
                        fetching: false,
                    }))
                    .catch(error => console.log('Error:', error));
                }

                postBoxName() {
                    if (this.props.postBox === 'allposts') return 'All posts';
                    else if (this.props.postBox === 'following') return 'Followed users posts';
                    else return 'Profile posts'
                }

                render() {
                    while (this.state.fetching) {
                        return <div></div>
                    };

                    const posts = this.state.response.data[this.state.currentPage];
                    const totalPosts = this.state.response.num_posts;
                    const totalPages = this.state.response.num_pages;

                    const postsArray = posts.map(post => 
                        <Post postID = {post.id} username = {post.username} postContent = {post.post}
                              timestamp = {post.timestamp} likedByUser = {post.liked_by_user} 
                              numberOfLikes = {post.likes} key = {post.id} />
                    );

                    return(
                        <div className="container pt-4" id="postbox-container">
                            <div className="row">
                                <div className="col align-self-center">
                                    <h2 className="postbox-title">{this.postBoxName()}</h2>
                                </div>
                            </div>
                            <div className="row pt-3">
                                <div className="col align-self-center">
                                    <h4 className="postbox-title"><strong className="text-seconday">{totalPosts}</strong> Posts</h4>
                                    <span className="text-seconday pl-4">Page {this.state.currentPage}/{totalPages}</span>
                                </div>
                                <div className="col align-self-center">
                                    <Paginator numberOfPages={totalPages} onPageChanged={this.onPageChanged} />
                                </div>
                            </div>
                            <div className="row pt-2">
                                <div className="col align-self-center">
                                    {postsArray}
                                </div>
                            </div>
                        </div>
                    )
                }

                onPageChanged = page => {
                    this.setState({
                        currentPage: page
                    });
                }
            }

            class NewPost extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        post: ""
                    }
                }

                render() {
                    return(
                        <div className="container" id="new-post-container">
                            <div className="row">
                                <div className="card align-self-center col-10">
                                    <div className="card-body">
                                        <h5 className="card-title">New Post</h5>
                                        <form id="new-post">
                                            <textarea className="form-control" id="new-post-body" placeholder="Write your post here!"
                                                      onChange={this.updateNewPost} value={this.state.post}></textarea>
                                            <button className="btn btn-primary" id="new-post-button" onClick={this.posting}>Post</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    )
                }

                updateNewPost = (event) => {
                    this.setState({
                        post: event.target.value
                    });
                }

                posting = (event) => {
                    if (this.state.post === "") {
                        alert("New post must not be empty.")
                    } else if (this.state.post.length > 280) {
                        alert("New post maximum length is 280 characters.")
                    } else {
                        fetch('/posting', {
                            method: 'POST',
                            body: JSON.stringify({
                                post: this.state.post
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data['message']) {
                                this.props.displayAllPosts;
                            } else {
                                alert(data['error']);
                            }
                        })
                        .catch(error => console.log('Error:', error));
                    }
                }
            }

            class Profile extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        response: {}
                    };
                }

                componentDidMount() {
                    const api = `/profile/${this.props.username}`;
                    fetch(api)
                    .then(response => response.json())
                    .then(data => this.setState({
                        response: data
                    }))
                    .catch(error => console.log('Error:', error));
                }

                render () {
                    const profile = this.state.response;
                    const username = this.props.username;
                    const numberOfFollowers = profile.followers_number;
                    const numberOfFollowed = profile.following_number;

                    return(
                        <div className="container pt-4" id="profile-container">
                            <div className="row">
                                <div className="col">
                                    <h1 id="profile-title">{`${username}'s profile`}</h1>
                                </div>
                            </div>
                            <div className="row pt-2">
                                <div className="col">
                                    <h4 id="profile-title">Followers <span className="badge badge-info">{numberOfFollowers}</span></h4>
                                    <h4 id="profile-title">Following <span className="badge badge-info">{numberOfFollowed}</span></h4>
                                </div>
                            </div>
                        </div>
                    )
                }
            };

            class Navbar extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        active: 'allposts'
                    };
                }

                render() {
                    const isLoggedIn = context.isLoggedIn();
                    const username = context.username;
                    return (
                        <nav className="navbar navbar-expand-lg navbar-light bg-light">
                            <span className="navbar-brand">Network</span>
                        
                            <div>
                            <ul className="navbar-nav mr-auto">
                                {isLoggedIn
                                    ? <li className={`nav-item${ this.state.active === 'profile' ? ' active' : ''}`}>
                                        <a className="nav-link" onClick={() => {this.setState({active:'profile'}); this.props.displayProfile();}}><strong>{username}</strong></a>
                                    </li>
                                    : null
                                }
                                <li className={`nav-item${ this.state.active === 'allposts' ? ' active' : ''}`}>
                                    <a className="nav-link" onClick={() => {this.props.displayAllPosts(); this.setState({active:'allposts'});}}>All Posts</a>
                                </li>
                                {isLoggedIn
                                    ? <li className={`nav-item${ this.state.active === 'following' ? ' active' : ''}`}>
                                        <a className="nav-link" onClick={() => {this.props.displayFollowing(); this.setState({active:'following'});}}>Following</a>
                                    </li>
                                    : <li className="nav-item">
                                        <a className="nav-link" href="{% url 'login' %}">Log In</a>
                                    </li>
                                }
                                {isLoggedIn
                                    ? <li className="nav-item">
                                        <a className="nav-link" href="{% url 'logout' %}">Log Out</a>
                                    </li>
                                    : <li className="nav-item">
                                        <a className="nav-link" href="{% url 'register' %}">Register</a>
                                    </li>
                                }
                            </ul>
                            </div>
                        </nav>
                    );
                }

                handleClick = activePage => {
                    console.log('clicking');
                    console.log(activePage)
                    if (activePage==='allposts') {
                        this.props.displayAllPosts;
                    } else if (activePage==='profile') {
                        this.props.displayProfile;
                    } else {this.props.displayFollowing}

                    
                }
            };

            class App extends React.Component {

                constructor(props) {
                    super(props);
                    this.state = {
                        app_page: "All posts",
                        isLoggedIn: context.isLoggedIn()
                    };

                    this.displayAllPosts = this.displayAllPosts.bind(this);
                    this.displayProfile = this.displayProfile.bind(this);
                    this.displayFollowing = this.displayFollowing.bind(this);


                }

                displayAllPosts() {
                    this.setState({
                        app_page: "All posts"
                    });
                };

                displayProfile() {
                    this.setState({
                        app_page: "Profile"
                    });
                };

                displayFollowing() {
                    this.setState({
                        app_page: "Following"
                    });
                };

                render() {
                    if (!this.state.isLoggedIn) {
                        return (
                            <div>
                                <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                                <h3 className="text-center pt-4">Login or register to start posting!</h3>
                                <PostBox postBox = "allposts" key="allposts" />
                            </div>
                        )
                    } else if (this.state.app_page === "All posts") {
                        return this.renderAllPosts();
                    } else if (this.state.app_page === "Profile") {
                        return this.renderProfile();
                    } else {
                        return this.renderFollowing();
                    }
                }

                renderAllPosts() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <NewPost displayAllPosts = {this.displayAllPosts} />
                            <PostBox postBox = "allposts" key="allposts" />                          
                        </div>
                    );
                }

                renderProfile() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <Profile username={context.username} />
                            <PostBox postBox = "profile" username={context.username} key={`profile${context.username}`}/>
                        </div>
                    );
                }

                renderFollowing() {
                    return (
                        <div>
                            <Navbar displayAllPosts = {this.displayAllPosts} displayFollowing = {this.displayFollowing} displayProfile = {this.displayProfile} />
                            <PostBox postBox = "following" key={`following${context.username}`} />
                        </div>
                    );
                }
            };

            ReactDOM.render(<App />, document.querySelector("#app"));
        </script>
    </body>

{% endblock %}